attrs==21.2.0
click==8.0.3
colorama==0.4.4
contourpy==1.0.7
cramjam==2.6.2
cycler==0.11.0
exceptiongroup==1.1.1
fastparquet==2023.2.0
flake8==6.0.0
fonttools==4.39.3
fsspec==2023.3.0
iniconfig==2.0.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.7.1
mccabe==0.7.0
nltk==3.8.1
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyparsing==3.0.9
pytest==7.2.2
python-dateutil==2.8.2
pytz==2022.1
regex==2023.3.23
six==1.16.0
tomli==2.0.1
tqdm==4.65.0